html,body{
	height: 100%;
}
body{
	overflow-y: hidden;
}
/*----任务列表样式---*/
.getTask{
	padding: 0;
}
.getTask .getTask-ul{
	list-style: none;
	padding: 0;
}
.getTask .getTask-ul li{
	height: 53px;
	padding: 0 20px;
	border-bottom: 1px solid rgb(221,221,221);
}
.getTask .getTask-ul li:hover{
	background-color: #D4D4D4;
}
.getTask .getTask-ul li div{
	display: inline-block;
	
	vertical-align: top;
}
.getTask .getTask-ul li .price{
	position: relative;
	margin-right: 20px;
	font-size: 20px;
	top: 50%;
	transform: translateY(-50%);
	
}
.getTask .getTask-ul li .getTaskInfo{
	width: 70%;
	height: 100%;
}
.getTask .getTask-ul li .state{
	margin-top: 7px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: darkred;
	color: white;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}

/*点击加载*/
#loding{
	height: 30px;
	width: 100%;
	text-align: center;
	line-height: 30px;
	display: none;
	background-color: rgb(221,221,221);
}
